<div class="col-md-10" style="margin-left: 0%">
  <div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
  </div>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3>Summary</h3>
    </div>
    <div class="box-body">
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>New: </b>
          <span class="pull-right"><span>{{ summary?.amountNovo }}</span></span>
        </li>
        <li class="list-group-item">
          <b>Resolved: </b>
          <span class="pull-right"><span>{{ summary?.amountResolvido }}</span></span>
        </li>
        <li class="list-group-item">
          <b>Approved: </b>
          <span class="pull-right"><span>{{ summary?.amountAprovado }}</span></span>
        </li>
        <li class="list-group-item">
          <b>Disapproved: </b>
          <span class="pull-right"><span>{{ summary?.amountDesaprovado }}</span></span>
        </li>
        <li class="list-group-item">
          <b>Assigned: </b>
          <span class="pull-right"><span>{{ summary?.amountDesignado }}</span></span>
        </li>
        <li class="list-group-item">
          <b>Closed: </b>
          <span class="pull-right"><span>{{ summary?.amountFechado }}</span></span>
        </li>
      </ul>
    </div>
  </div>
</div>