<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Ticket List</h3>
      </div>
      <!-- /.box-header -->

      <div class="box-body">

        <div class="form-group" *ngIf="shared.user.profileEnum == 'TECHNICIAN'">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="assignedToMe" name="assignedToMe" id="assignedToMe">
              <b>Assigned to me</b>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="inputNumber" class="col-sm-2 control-label">Number</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="ticketFilter.numero" class="form-control" name="numero" id="inputNumber">
          </div>
        </div>

        <div class="form-group">
          <label for="inputTitulo" class="col-sm-2 control-label">Título</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="ticketFilter.titulo" class="form-control" name="titulo" id="inputTitulo">
          </div>
        </div>

        <div class="form-group">
          <label for="inputStatus" class="col-sm-2 control-label">Status</label>
          <div class="col-sm-10">
            <select [(ngModel)]="ticketFilter.statusEnum" class="form-control select2" id="inputStatus" name="status"
              style="width: 100%">
              <option selected="selected" disabled="disabled" value>Selecione</option>
              <option>NOVO</option>
              <option>DESIGNADO</option>
              <option>RESOLVIDO</option>
              <option>APROVADO</option>
              <option>DESAPROVADO</option>
              <option>FECHADO</option>
            </select>
          </div>

          <div class="form-group">
            <label for="inputPrioridadeEnum" class="col-sm-2 control-label">Prioridade</label>
            <div class="col-sm-10">
              <select [(ngModel)]="ticketFilter.prioridadeEnum" class="form-control select2" id="inputPrioridadeEnum"
                name="prioridadeEnum" style="width: 100%">
                <option selected="selected" disabled="disabled" value>Selecione</option>
                <option>ALTA</option>
                <option>NORMAL</option>
                <option>BAIXA</option>
              </select>
            </div>
          </div>

        </div>
        <div class="box-footer">
          <button class="btn btn-info pull-left" (click)="cleanFilter()">Clean Filter</button>
          <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="filter()">Filter</button>
        </div>

        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th>Número</th>
              <th>Título</th>
              <th>Prioridade</th>
              <th>Status</th>
              <th>Owner</th>
              <th style="width: 10px" *ngIf="shared.user.profileEnum == 'CUSTOMER'">&nbsp;</th>
              <th style="width: 10px" *ngIf="shared.user.profileEnum == 'CUSTOMER'">&nbsp;</th>
              <th style="width: 10px">&nbsp;</th>
            </tr>
            <tr *ngFor="let ticket of listTicket">
              <td>{{ ticket.numero }}</td>
              <td>{{ ticket.titulo }}</td>
              <td>{{ ticket.prioridadeEnum }}</td>
              <td>{{ ticket.statusEnum }}</td>
              <td>{{ ticket.user.email }}</td>
              <td *ngIf="shared.user.profileEnum == 'CUSTOMER'">
                <button class="btn btn-primary" (click)="edit(ticket.id)">Edit</button>
              </td>
              <td *ngIf="shared.user.profileEnum == 'CUSTOMER'">
                <button class="btn btn-danger" (click)="delete(ticket.id)">Delete</button>
              </td>
              <td><button class="btn btn-success" (click)="detail(ticket.id)">Detail</button></td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
            <li *ngFor="let p of pages; let i = index">
              <a [ngClass]="{'pagination-focus': i == page}" href="" (click)="setPage(i, $event)">{{ i+1 }}</a>
            </li>
            <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>